
@font-face {
    font-family: "Modern Sans Light";
    src: url("https://pyropm.github.io/src/modern_sans_light.woff") format("woff");
}

@font-face {
    font-family: "Modern Sans";
    src: url("https://pyropm.github.io/src/modern_sans.woff") format("woff");
}

html {
    min-height: 100%;
    width: 100%;
}

body {
    background-image: url("./assets/gradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FF6000;
    display: flex;
    flex-direction: column;
    margin: 0 0 100px;
}

.header {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100px;
    background-color: #101010;
}

.button a {
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 225%;
    font-weight: bold;
    font-family: Modern Sans;
    color: #EEEEEE;
    background-color: #101010;
}

.button a:hover {
    color: #101010;
    background-color: #EEEEEE;
}

.button b {
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 225%;
    font-weight: bold;
    font-family: Modern Sans;
    color: #EEEEEE;
    background-color: #BB0000;
}

.sub_header {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 50px;
    background-color: #252525;
}

.sub_button a {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    font-family: Modern Sans Light;
    color: #EEEEEE;
    background-color: #252525;
}

.sub_button a:hover {
    color: #101010;
    background-color: #EEEEEE;
}

.sub_button b {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    font-family: Modern Sans Light;
    color: #EEEEEE;
    background-color: #BB3030;
}

.sub_button c {
    float: left;
    width: 200px;
    height: 50px;
    background-color: #252525;
}

.body {
    position: relative;
    top: 25px;
    left: 20%;
    width: 60%;
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

.post {
    width: 98%;
    font-size: 100%;
    font-weight: normal;
    font-family: Modern Sans Light;
    line-height: 1.75;
    padding-left: 15px;
    color: #EEEEEE;
}

.post h1 {
    font-size: 275%;
    font-weight: bold;
    font-family: Modern Sans;
    border-bottom: 2px solid #EEEEEE;
    line-height: 1;
}

.post h2 {
    font-size: 100%;
    font-weight: normal;
    font-family: Modern Sans;
    line-height: 1;
}

.post a {
    font-size: 125%;
    font-weight: normal;
    font-family: Modern Sans Light;
    color: #CC6000;
    line-height: 1.75;
}

.post a:hover {
    color: #CCA000;
}

.post b {
    font-size: 125%;
    font-weight: normal;
    font-family: Modern Sans Light;
    line-height: 1.75;
}

.post p {
    font-size: 125%;
    font-weight: normal;
    font-family: Modern Sans Light;
    line-height: 1.75;
}

.mod {
    width: 98%;
    font-size: 100%;
    font-weight: normal;
    font-family: Modern Sans;
    color: #EEEEEE;
}

.mod b {
    position: absolute;
    top: 15px;
    width: 40%;
    font-size: 100%;
    font-weight: normal;
    font-family: Modern Sans;
    text-align: right;
    padding-top: 15px;
    padding-right: 15px;
}

.mod h1 {
    position: absolute;
    top: 15px;
    width: 60%;
    font-size: 275%;
    font-weight: bold;
    font-family: Modern Sans;
    line-height: 1;
}

.mod p {
    font-size: 125%;
    font-weight: normal;
    font-family: Modern Sans Light;
    line-height: 1.6;
}

.break {
    position: relative;
    height: 25px;
}

.footer {
    position: relative;
    top: 50px;
    left: 5%;
    width: 90%;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #EEEEEE;
    background-color: rgba(0, 0, 0, 0.75);
}

.footer_text {
    width: 98%;
    font-size: 100%;
    font-weight: normal;
    font-family: Modern Sans Light;
    padding-left: 15px;
    color: #EEEEEE;
}

.footer_text h1 {
    font-size: 100%;
    font-weight: normal;
}
