
html {
    min-height: 100%;
    width: 100%;
}

body {
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 0 100px;

    --pyropm_orange:        rgba(222, 107, 26, 1);
    --pyropm_red:           rgba(222, 0, 0, 1);
    --pyropm_purple:        rgba(102, 2, 60, 1);
    --pyropm_black:         rgba(0, 0, 0, 1);
    --pyropm_darkgrey:      rgba(48, 48, 48, 1);
    --pyropm_grey:          rgba(96, 96, 96, 1);
    --pyropm_white:         rgba(255, 255, 255, 1);
    --pyropm_trans:         rgba(0, 0, 0, 0);
    --pyropm_black_trans:   rgba(0, 0, 0, 0.5);
    --pyropm_grey_trans:    rgba(128, 128, 128, 0.5);
    --pyropm_white_trans:   rgba(255, 255, 255, 0.5);
    --pyropm_link:          rgba(222, 107, 26, 1);
    --pyropm_link_hover:    rgba(222, 60, 0, 1);

    background-image: linear-gradient(to bottom right, var(--pyropm_orange), var(--pyropm_red), var(--pyropm_purple));
    background-color: var(--pyropm_red);
}

/* Menu */
/* The menu used on top of the site. */
.menu_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.menu_bar a {
    position: relative;
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-size: 225%;
    color: var(--pyropm_black);
    text-shadow: 2px 4px var(--pyropm_trans);
    background-color: var(--pyropm_trans);
    transition: background-color .125s ease-in-out;
    -moz-transition: background-color .125s ease-in-out;
    -webkit-transition: background-color .125s ease-in-out;
    transition: text-shadow .125s ease-in-out;
    -moz-transition: text-shadow .125s ease-in-out;
    -webkit-transition: text-shadow .125s ease-in-out;
}

.menu_bar a:hover {
    color: var(--pyropm_black);
    text-shadow: 2px 4px var(--pyropm_white);
    background-color: var(--pyropm_red);
}

.menu_bar a::selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu_bar b {
    position: relative;
    float: left;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-size: 225%;
    color: var(--pyropm_black);
    text-shadow: 2px 4px var(--pyropm_white);
    background-color: var(--pyropm_purple);
}

.menu_bar b::selection {
    background: var(--pyropm_trans);
}

/* Sub Menu */
/* The sub-menu used on top of the site, just below the main one. */
.sub_menu_bar {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    background-color: var(--pyropm_darkgrey);
}

.sub_menu_bar a {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-size: 100%;
    color: var(--pyropm_black);
    text-shadow: 1px 2px var(--pyropm_trans);
    background-color: var(--pyropm_trans);
    transition: background-color .125s ease-in-out;
    -moz-transition: background-color .125s ease-in-out;
    -webkit-transition: background-color .125s ease-in-out;
    transition: text-shadow .125s ease-in-out;
    -moz-transition: text-shadow .125s ease-in-out;
    -webkit-transition: text-shadow .125s ease-in-out;
}

.sub_menu_bar a:hover {
    color: var(--pyropm_black);
    text-shadow: 1px 2px var(--pyropm_white);
    background-color: var(--pyropm_red);
}

.sub_menu_bar a::selection {
    background: var(--pyropm_trans);
}

.sub_menu_bar b {
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    font-size: 100%;
    color: var(--pyropm_black);
    text-shadow: 2px 4px var(--pyropm_white);
    background-color: var(--pyropm_purple);
}

.sub_menu_bar b::selection {
    background: var(--pyropm_trans);
}

.sub_menu_bar c {
    float: left;
    width: 200px;
    height: 50px;
    background-color: var(--pyropm_trans);
}

/* Menu End */
.menu_end {
    position: relative;
    width: 100%;
    height: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--pyropm_trans);
    z-index: -1;
}

/* Post */
/* Used for every post on the main page and every individual page. */
.post_background {
    position: relative;
    top: 25px;
    left: 20%;
    width: 60%;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--pyropm_white_trans);
    background-color: var(--pyropm_black_trans);
}

.post_body {
    font-family: Helvetica;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 1.75;
    text-indent: 25px;
    color: var(--pyropm_white);
}

.post_body::selection {
    background: var(--pyropm_orange);
}

.post_body h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 2px var(--pyropm_black);
    text-indent: 0px;
    line-height: 1;
}

.post_body h1::selection {
    background: var(--pyropm_orange);
}

.post_body p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.75;
    text-indent: 25px;
}

.post_body p::selection {
    background: var(--pyropm_orange);
}

.post_body a {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.75;
    text-indent: 25px;
    color: var(--pyropm_text_link);
}

.post_body a:hover {
    color: var(--pyropm_text_link_hover);
}

.post_body a::selection {
    background: var(--pyropm_orange);
}

.post_date p {
    font-size: 15px;
    font-weight: normal;
    text-indent: 0px;
    line-height: 1;
    display: inline-block;
}

.post_date a {
    font-size: 15px;
    font-weight: normal;
    text-indent: 0px;
    line-height: 1;
    display: inline-block;
}

/* Mod */
/* Used for every mod on the content page and individual page. */
.mod_background {
    position: relative;
    top: 25px;
    left: 20%;
    width: 60%;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--pyropm_white_trans);
    background-color: var(--pyropm_black_trans);
}

.mod_body {
    font-family: Helvetica;
    padding-left: 35px;
    padding-right: 35px;
    line-height: 1.75;
    text-indent: 25px;
    color: var(--pyropm_white);
}

.mod_body h1 {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 2px var(--pyropm_black);
    text-indent: 0px;
    line-height: 1;
}

.mod_body p {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.75;
    text-indent: 25px;
}

.mod_body a {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.75;
    text-indent: 25px;
    color: var(--pyropm_text_link);
}

.mod_body a:hover {
    color: var(--pyropm_text_link_hover);
}

.mod_title {
    position: relative;
    width: 55%;
    height: 150px;
    float: left;
}

#mod_text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.mod_download {
    width: 35%;
    height: 100px;
    float: right;
    text-align: right;
}

.mod_end {
    height: 150px;
    border-bottom: 2px solid var(--pyropm_white);
}

/* Break */
.break {
    position: relative;
    height: 25px;
}


.mod_wrapper {
    padding: 8px;
}

.mod_body {
    position: relative;
    left: 5%;
    width: 90%;
    border: 3px solid #222222;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
    padding: 12px 0px 12px 0px;
    transition: border 0.1s;
    transition: background 0.1s;
}

.mod_body:hover {
    border: 3px solid #EEEEEE;
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0.5));
}

.mod_text {
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.row {
    position: relative;
    left: 12px;
    width: 100%;
    padding: 0px;
}

.mod_name {
    font-size: 20px;
    font-weight: bold;
}

.mod_author {
    padding: 8px 0px 2px 0px;
    border-bottom: 1px solid #EEEEEE;
}

.mod_description {
    padding: 2px 0px 4px 0px;
    min-height: 100px;
}

.mod_image {
    display: inline-block;
    float: right;
    position: relative;
    padding-right: 12px;
    width: 30%;
}

.mod_img {
    max-width: 100%;
    border-radius: 0px 12px 12px 0px;
}

.mod_link_1 {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 12px;
    vertical-align: bottom;
}

.mod_link_2 {
    display: inline-block;
    position: absolute;
    bottom: 12px;
    left: 136px;
    vertical-align: bottom;
}

.mod_download {
    text-align: center;
    cursor: pointer;
    width: 100px;
    padding: 8px;
    border: 2px solid #EEEEEE;
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
    transition: border 0.1s;
    transition: background 0.1s;
}

.mod_download:hover {
    border: 2px solid #EE4400;
    background: linear-gradient(to bottom, rgba(200, 50, 0, 0.75), rgba(255, 150, 0, 0.5));
}

.mod_download_popup {
    z-index: 1;
}
